boto==2.49.0
boto3==1.9.138
botocore==1.12.138
Django==2.2
django-storages==1.7.1
flickrapi==2.4.0
html5lib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
tblib==1.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
numpy==1.16.2
numpydoc==0.8.0
scipy==1.2.1
opencv-python==4.1.0.25
Pillow==5.4.1
matplotlib==3.0.3
pymongo==2.7.1
mongoengine==0.9.0
h5py==2.9.0
https://github.com/OlafenwaMoses/ImageAI/releases/download/2.0.2/imageai-2.0.2-py3-none-any.whl
