<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Flickr Image Search - About</title>

<link rel="stylesheet" href="/static/imageApp/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/imageApp/css/font-awesome.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/static/imageApp/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <img class="navbar-brand" src="images/logo.png">
               <a href="/flickrImageSearch/home" class="navbar-brand">Flickr Image Search</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                 <li><a href="/flickrImageSearch/home">Home</a></li>
                 <li class="active"><a href="/flickrImageSearch/about">About</a></li>
                 <li ><a href="/flickrImageSearch/gallery">Gallery</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-about parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>About Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h3>About Us</h3>
                    <p>We are a team of four, we built this application as a part of Big Data class. The main purpose of this application is to get tags and similar images based on user input along with that our intention was to explore various big data technologies. The GitHub can be found below.</p>
               </div>
          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Flickr Image Search</h3>
                    <p>Search and get image tags by uploading your images.</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://twitter.com/ChandanNNaik" class="fa fa-twitter"></a></li>
                         <li><a href="https://github.com/DivJAth/BigDataArchitecture" class="fa fa-github"></a></li>
                    </ul>
               </div>

          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="/static/imageApp/js/jquery.js"></script>
<script src="/static/imageApp/js/bootstrap.min.js"></script>
<script src="/static/imageApp/js/jquery.parallax.js"></script>
<script src="/static/imageApp/js/custom.js"></script>

</body>
</html>
